Repository vrom911/haskeller-answers, pull requests merged in 2019-10, with the labels that each got.

#6 [#3] Style up the page
  index.html
  main.css
  src/HaskellerAnswers.hs
Labels: HTML/css

#9 [#8] Add favicon
  favicon.ico
  index.html
  main.css
Labels: HTML/css

#12 [#10] Add meta information into head
  images/haskeller-answers-logo.png
  index.html
  main.css
  src/HaskellerAnswers.hs
Labels: HTML/css

#7 [#2] Make answers random
  haskeller-answers.cabal
  src/HaskellerAnswers.hs
Labels: enhancement

#17 [#13] Setup GitHub Actions for CI
  .github/workflows/ci.yml
  README.md
Labels: CI
